In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [1]:
url = "https://raw.githubusercontent.com/Premalatha-success/NIIT-Batch/main/concrete.csv"

In [4]:
df = pd.read_csv(url)

In [5]:
df.sample(10)

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
153,173.5,50.1,173.5,164.8,6.5,1006.2,793.5,14,33.01
92,182.0,45.2,122.0,170.2,8.2,1059.4,780.7,14,21.50
974,213.5,0.0,174.2,159.2,11.7,1043.6,771.9,28,44.64
285,203.5,305.3,0.0,203.5,0.0,963.4,630.0,90,51.86
861,310.0,0.0,0.0,192.0,0.0,970.0,850.0,180,37.33
780,251.4,0.0,118.3,192.9,5.8,1043.6,754.3,100,40.15
989,424.0,22.0,132.0,168.0,8.9,822.0,750.0,7,40.29
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
814,165.0,128.5,132.1,175.1,8.1,1005.8,746.6,28,46.39
37,277.2,97.8,24.5,160.7,11.2,1061.7,782.5,14,47.71

In [6]:
df.shape

(1030, 9)

In [7]:
df.dtypes

cement          float64
slag            float64
ash             float64
water           float64
superplastic    float64
coarseagg       float64
fineagg         float64
age               int64
strength        float64
dtype: object

In [8]:
df.columns

Index(['cement', 'slag', 'ash', 'water', 'superplastic', 'coarseagg',
       'fineagg', 'age', 'strength'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cement        1030 non-null   float64
 1   slag          1030 non-null   float64
 2   ash           1030 non-null   float64
 3   water         1030 non-null   float64
 4   superplastic  1030 non-null   float64
 5   coarseagg     1030 non-null   float64
 6   fineagg       1030 non-null   float64
 7   age           1030 non-null   int64
 8   strength      1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [10]:
df.describe(include="all")

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [11]:
df.duplicated().sum()

25

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.duplicated().sum()

0

In [14]:
def get_limits(col):
    sorted(col)
    Q1,Q3=col.quantile([0.25,0.75])
    IQR = Q3-Q1
    lower_range = Q1 - (1.5*IQR)
    upper_range = Q3 + (1.5*IQR)
    print(lower_range,upper_range)

In [15]:
cols = ['cement', 'slag', 'ash', 'water', 'superplastic', 'coarseagg',
       'fineagg', 'age', 'strength']
for c in cols:
    print(c)
    get_limits(df[c])

cement
-46.75000000000003 586.45
slag
-213.75 356.25
ash
-177.45 295.75
water
127.14999999999998 232.35000000000002
superplastic
-15.0 25.0
coarseagg
783.5 1179.5
fineagg
577.4499999999998 969.0500000000002
age
-66.5 129.5
strength
-8.504999999999999 76.895

In [16]:
def remove_outlier(col):
    sorted(col)
    Q1,Q3=col.quantile([0.25,0.75])
    IQR = Q3-Q1
    lower_range = Q1 - (1.5*IQR)
    upper_range = Q3 + (1.5*IQR)
    col = np.where(col>upper_range,upper_range,col)
    col = np.where(col<lower_range,lower_range,col)
    return col

cols1 = ['cement', 'slag', 'ash', 'water', 'superplastic', 'coarseagg',
       'fineagg', 'age']

for c  in cols1:
    df[c] = remove_outlier(df[c])

In [17]:
df.describe(include="all")

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
count,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000
mean,278.631343,72.037214,55.536318,182.066816,5.981493,974.376816,772.571095,38.076119,35.250378
std,104.344261,86.149994,64.207969,21.158645,5.724463,77.579667,80.035934,35.862549,16.284815
min,102.000000,0.000000,0.000000,127.150000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,190.700000,0.000000,0.000000,166.600000,0.000000,932.000000,724.300000,7.000000,23.520000
50%,265.000000,20.000000,0.000000,185.700000,6.100000,968.000000,780.000000,28.000000,33.800000
75%,349.000000,142.500000,118.300000,192.900000,10.000000,1031.000000,822.200000,56.000000,44.870000
max,540.000000,356.250000,200.100000,232.350000,25.000000,1145.000000,969.050000,129.500000,82.600000

In [27]:
X = df.drop(['strength'],axis=1)
y = df['strength']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [32]:
from sklearn.linear_model import LinearRegression

In [39]:
def print_scores(model):
    model.fit(X_train,y_train)
    print(model.score(X_train,y_train))
    print(model.score(X_test, y_test))

In [40]:
lin_model = LinearRegression()
print_scores(lin_model)

0.7337107351417851
0.677054151817514

In [45]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2, interaction_only=True)
X_train2 = poly.fit_transform(X_train)
X_test2 = poly.fit_transform(X_test)

ploy_clf = LinearRegression()
ploy_clf.fit(X_train2, y_train)

print(ploy_clf.score(X_train2, y_train))
print(ploy_clf.score(X_test2, y_test))

0.8030284152004661
0.7381251018353899

In [65]:
from sklearn.tree import DecisionTreeRegressor
dtr_model = DecisionTreeRegressor(max_depth=5, criterion='poisson')
print_scores(dtr_model)

0.7930199427642781
0.6883858192136045

In [77]:
from sklearn.neighbors import KNeighborsRegressor
knn_model = KNeighborsRegressor(n_neighbors=12, algorithm='ball_tree')
print_scores(knn_model)

0.7059548661319539
0.5240384124415802

In [87]:
from sklearn.svm import SVR
svr_model = SVR(kernel='poly', degree=11)
print_scores(svr_model)

0.802224040700259
0.7507523463584866

In [94]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(n_estimators=15)
print_scores(bag_model)

0.978220889072953
0.8897503965370057

In [112]:
from sklearn.ensemble import AdaBoostRegressor
ada_model = AdaBoostRegressor(n_estimators=65, learning_rate=1, loss='square')
print_scores(ada_model)

0.8333414064094462
0.7829506019905369

In [166]:
from sklearn.ensemble import GradientBoostingRegressor
gbr_model = GradientBoostingRegressor(learning_rate=0.36, n_estimators=150, max_depth=3, loss="huber")
print_scores(gbr_model)

0.9845651626705519
0.9263810134828916